body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #d5dadc;
}
html, body, #map {
    height: 100%;
    width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#map.leaflet-container {
    background-color: #d5dadc;
}
.leaflet-marker-icon svg {
    -webkit-filter: drop-shadow(0 0 1px rgba(0,0,0,.3));
    filter: drop-shadow(0 0 1px rgba(0,0,0,.3));
}
.highlight .leaflet-marker-icon svg {
    -webkit-filter: drop-shadow(0, 0, 1px, rgb(57 66 156));
    filter: drop-shadow(0, 0, 1px, rgb(57 66 156));
}
.highlight path {
    fill: #39429c;
}
.highlight circle {
    stroke: #39429c;
}
.highlight .cluster circle {
    fill: #39429c;
}
.cluster text {
    font-size: 14px;
    font-weight: bold;
    fill: #fff;
    text-shadow: 0 0 1px #000;
    text-anchor: middle;
}
.leaflet-container a.leaflet-popup-close-button {
    display: none;
}
#search {
    width: 228px;
    max-width: calc(100vw - 40px);
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 400;
}
#search input {
    display: block;
	box-sizing: border-box;
	width: 100%;
	height: 30px;
    padding: 5px 9px;
    color: #333;
    border: 1px solid #919dab;
    border-radius: 5px;
}
#clear {
    position: absolute;
    top: 2px;
    right: 2px;
    padding: 0 5px;
    line-height: 26px;
    cursor: pointer;
    color: #666;
    background-color: #FFF;
    border-radius: 0 5px 5px 0;
}
#clear:hover {
	color: #333;
}
#search ul {
    display: block;
    width: 100%;
    max-height: calc(100vh - 50px);
    margin: 0;
    padding: 0;
    overflow: auto;
}
#search li {
    display: block;
    margin: 2px 0;
    padding: 5px 9px;
    font-size: 13px;
    color: #333;
    background-color: rgba(255,255,255,0.5);
    border: 1px solid #919dab;
    border-radius: 5px;
	cursor: pointer;
}
#search li:hover {
    background-color: rgba(255,255,255,0.8);
}
#map.active {
	cursor: crosshair;
}
#clue {
    position: absolute;
    left: 232px;
    top: 8px;
    font-size: 12px;
    white-space: nowrap;
    color: #333;
    text-shadow: -1px -1px 0px #FFF, -1px 1px 0px #FFF, 1px 1px 0px #FFF, 1px -1px 0px #FFF;
}
.result .leaflet-popup-content-wrapper {
    padding: 0;
}
.result .leaflet-popup-content {
    width: 366px !important;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.result circle {
	fill: rgb(233, 214, 216, 0.5);
}
.result rect.sum {
	fill: rgba(57, 66, 156, 0.5);
}
.result .months {
    padding: 0 0 4px 0;
}
.result .months div {
    display: inline-block;
    width: 8.33%;
    text-align: center;
	color: #666;
}
.result text {
	font-size: 14px;
	fill: #333;
}
.result g text {
	fill: #FFF;
    font-size: 12px;
    text-anchor: middle;
}
.result text tspan {
    font-weight: bold;
}
.result text tspan.small {
    font-size: 11px;
    font-weight: normal;
	fill: #666;
}
.result .panel {
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
}
.result .panel img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 0 12px 0 0;
	cursor: pointer;
}
.result text.right {
    text-anchor: end;
}
#bg {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(1px);
    background-color: rgba(255,255,255,0.5);
}
#products {
    position: absolute;
    left: 50%;
    top: 10vh;
    width: 400px;
    max-height: 80vh;
    box-sizing: border-box;
    margin-left: -200px;
    padding: 0;
    overflow: auto;
    z-index: 1001;
    background-color: #FFF;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
#products div {
    height: 100px;
    cursor: pointer;
    padding: 20px;
}
#products div:nth-child(even) {
    text-align: right;
    background-color: rgba(0,0,0,0.05);
}
#products div:hover {
    background-color: rgba(57,66,156,0.2);
}
#products img {
    display: block;
    float: left;
    height: 100px;
    margin: 0 20px 0 0;
}
#products div:nth-child(even) img {
    float: right;
    margin: 0 0 0 20px;
}
#products h3 {
    margin: 0;
}
@media (max-width:599px) {
	.leaflet-popup.result.leaflet-zoom-animated {
		margin-left: -5px;
	}
	.leaflet-popup.result.leaflet-zoom-animated .leaflet-popup-tip-container {
		margin-left: -15px;
	}
	.result .leaflet-popup-content-wrapper {
		border-radius: 0;
	}
	.result .leaflet-popup-content {
		width: 100vw !important;
	}
	.result svg {
		width: 100%;
	}
	.result .panel img {
		border-radius: 0;
	}
}